.formContainer {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    /* Spacing */
    margin-bottom: 10px;
    /* Sizing */
    width: 100%;
    height: auto;
  }
  .buttonContainer {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    /* Spacing */
    margin-top: 10px;
    /* Sizing */
    width: 25%;
  }